// Variables
$default-opacity: 0.3;
$prefixes: '-moz-', '-webkit-', '-o-', '-ms-', '';

// Mixin for user-select
@mixin user-select($value) {
	-webkit-touch-callout: $value; /* iOS Safari */
	-webkit-user-select: $value; /* Safari */
	-moz-user-select: $value; /* Old versions of Firefox */
	-ms-user-select: $value; /* Internet Explorer/Edge */
	user-select: $value; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

// Mixin for background opacity
@mixin background-opacity($color, $opacity: $default-opacity) {
	background: $color;
	/* The Fallback */
	background: rgba($color, $opacity);
}

// ********************
// START fadeIn
// ********************
// Keyframe mixin
@mixin keyframe-fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	@include keyframe-fadeIn;
}
@-webkit-keyframes fadeIn {
	@include keyframe-fadeIn;
}
@-o-keyframes fadeIn {
	@include keyframe-fadeIn;
}
@-ms-keyframes fadeIn {
	@include keyframe-fadeIn;
}
@keyframes fadeIn {
	@include keyframe-fadeIn;
}

// Mixin for fadeIn animation
@mixin fadeIn($type, $duration, $count, $mode) {
	$keyframe-name: fadeIn;

	@each $prefix in $prefixes {
		#{$prefix}animation: $keyframe-name $type $duration;
		#{$prefix}animation-iteration-count: $count;
		#{$prefix}animation-fill-mode: $mode;
	}
}

// Example usage: @include fadeIn( ease, 2s, 1, forwards );

// ********************
// END fadeIn
// ********************

// ********************
// START dialog image resizing media queries
// ********************
@mixin media-query-portrait-landscape($query, $max-image-width, $orientation) {
	@media only screen and #{$query} {
		.image-section {
			img {
				@if $orientation == 'portrait' {
					&.portrait {
						max-width: $max-image-width;
					}
				} @else if $orientation == 'landscape' {
					&.landscape {
						max-width: $max-image-width;
					}
				}
			}
		}
	}
}

// min/max width media resizing
@mixin dialog-min-max-width-image-resizing(
	$min-width,
	$max-width,
	$max-image-width,
	$orientation
) {
	@include media-query-portrait-landscape(
		'(min-width: #{$min-width}) and (max-width: #{$max-width})',
		$max-image-width,
		$orientation
	);
}
// ********************
// END dialog image resizing media queries
// ********************
